<html>
    <head>
        <title>Monolithe Forum App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>

    <body>
        
        <div class="container" id="app">

            <div v-if="me">
                
                <div class="card my-3">
                    <div class="card-body">
                        <div class="card-title lead text-center">Nouveau sujet</div>
                        <input type="text" class="form-control" v-model="newTopic" placeholder="Entrez un nom et appuyez sur entrée" @keyup.enter="addTopic">
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="card-title lead">Sujet(s) disponible(s)</div>
                        <div class="card-body">
                            <table class="table">
                                <thead v-if="topics.length > 0">
                                    <tr>
                                        <th>Titre</th>
                                        <th>Créé le</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="topics.length === 0">
                                        <td colspan="3">Pas de topics</td>
                                    </tr>
                                    <tr v-else="" v-for="topic in topics">
                                        <td><a :href="'/topic.html?id='+topic._id">{{topic.title}}</a></td>
                                        <td>{{ topic.createdAt }}</td>
                                        <td class="text-end">
                                            <button class="btn btn-sm bg-warning" @click="deleteTopic(topic._id)">
                                                Supprimer
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <a class="btn btn-primary w-100 my-3" href="/api/auth/logout">Se déconnecter</a>
                
            </div>

        </div>            

        <script>
            let vue = new Vue({
                el: "#app",
                data: {
                    me: undefined,
                    topics : [],
                    newTopic: ""
                },
                methods: {
                    async addTopic(){
                        if(this.newTopic === "") return false;
                        try{
                            let topic = (await axios.post("/api/topics", {
                                title: this.newTopic
                            })).data;

                            this.topics.push(topic);
                            this.newTopic = "";
                        }
                        catch(e){

                        }
                    },

                    async deleteTopic(id){
                        try{

                            // Delete all posts
                            await axios.delete("/api/posts/?topic_id=" + id);
                            // Delete the topic
                            await axios.delete("/api/topics/" + id);
                            // Remove the topic from the view
                            let index = this.topics.map( t => t._id).indexOf(id);
                            this.topics.splice(index, 1);
                        }
                        catch(e){

                        }
                    },

                    async logout(){
                        document.cookie = "";
                        window.location = "/";
                    }
                },
                mounted: async function mounted(){
                    try{
                        this.me = (await axios.get("/api/users/me")).data;
                        this.topics = (await axios.get("/api/topics")).data;
                    }
                    catch(e){
                        window.location = "/login.html";
                    }
                }
            })
        </script>

    </body>

</html>