<html>
    <head>
        <title>Monolithe Forum App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>

    <body class="bg-light">
        
        <div class="container h-100" id="app">
            <div class="row align-items-center justify-content-center h-100">
                <div class="col-sm col-lg-4 md-auto">
                    
                    <div class="card">
                        <div class="card-body">

                            <div class="card-title lead text-center">
                                Connectez vous
                            </div>

                            <div class="mb-3">
                                <label for="" class="form-label">Utilisateur</label>
                                <input type="text" class="form-control" v-model="username">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" v-model="password">
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary w-100" @click="login">Se connecter</button>
                            </div>
                            <a class="btn btn-secondary w-100" href="register.html">S'enregistrer</a>

                        </div>
                    </div>

                </div>
            </div>

            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="showToast">
                    <div class="toast-header">
                    <strong class="me-auto">Message</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            </div>

        </div>

        <script>
            let vue = new Vue({
                el: "#app",
                data: {
                    username: "",
                    password: "",
                    message: ""
                },
                methods: {
                    login: async function login(){
                        try{
                            let token = (await axios.post("/api/auth", {username : this.username, password: this.password})).data;
                            window.location = "/";
                        }
                        catch(e){
                            this.message = `Erreur : ${e.response.data}`;
                        }
                        let toast = new bootstrap.Toast( document.getElementById("showToast") );
                        toast.show();
                    }
                }
            })
        </script>

    </body>

</html>